@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}

.container-div {
  background-color: #f4f9ff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  width: 399px;
}

.navbar-custom {
  background-color: #6582f8;
  box-shadow: var(--box-shadow);
  width: 400px;
  margin-bottom: -30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navbar-nav .nav-item {
  margin-right: 15px; 
}

.navbar-nav .nav-item:nth-child(3) {
  overflow-x: hidden;
  font-weight: bold;
  align-items: center;
  font-size: 18px;
}

.navbar-nav .nav-item:nth-child(1) {
  overflow-x: hidden;
  margin-left: -59px;
  margin-bottom: 5px;
}

.container {
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
  padding: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 30px auto;
}

.inc-exp-container {
  padding: 10px;
  display: flex;
  margin: 20px 0;
  margin-bottom: -1px;
}

.inc-exp-container > div {
  flex: content;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
  text-align: center;
}

/* h4 {
  margin: 0;
  text-transform: uppercase;
} */

.balance {
  text-align: center;
  display: block;
  margin-top: -5px;
}

.monto {
  color: #4a65a3;
  text-align: center;
  display: block;
  margin-bottom: -20px;
  font-weight: bold;
}

.ingresos {
  color: #2ecc71;
  margin-bottom: -8px;
}

.gastos {
  color: #c0392b;
  margin-bottom: -8px;
}

.money {
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.money.minus {
  color: #c0392b;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.add_mov{
  background-color: #86a5ff;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  border: 0;
  color: #ffffff;
  display: block;
  margin: 10px auto 30px;
  font-size: 16px;
  padding: 10px;
  width: 80%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.ver-analiticas-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #707070b7;
}

.form-control {
  margin-bottom: 10px;
}